
.carousel img {
  width:100% ;
  min-width:100 ;
  height: auto;
}

.carousel-caption {
	position: absolute;
	background: #56a4d8;
	padding: 5px;
	bottom: 0;
  text-align: center;
  
}

 body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
